@{
  Layout = "_Layout";
}

@model PierreTrois.Models.Treat;

<h4>Edit a treat </h4>


<p>Edit info for: @Html.DisplayFor(treat => treat.Name)</p>
<hr/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(treat => treat.TreatId)

  <h3>@Html.LabelFor(treat => treat.Name)</h3>
  @Html.EditorFor(treat => treat.Name)
  <br>
  
  <input type="submit" value="Edit Changes" class="btn btn-primary" />
  
  @if (!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:", new { @class = "text-danger", @style = "font-weight: 600;"})
  }
  <hr/>
}


