@{
  Layout = "_Layout";
}
@model PierreTrois.Models.Flavor;

<h4>Edit a flavor </h4>


<p>Edit info for: @Html.DisplayFor(flavor => flavor.Name)</p>
<hr/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(flavor => flavor.FlavorId)

  <h3>@Html.LabelFor(flavor => flavor.Name)</h3>
  @Html.EditorFor(flavor => flavor.Name)
  <br>
  
  <input type="submit" value="Edit Changes" class="btn btn-primary" />
  <hr/>

  @if (!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:", new { @class = "text-danger", @style = "font-weight: 600;"})
  }

}